{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Избранное {% endblock %}

{% block sidebar %} {% include 'users/user_profile.html' %} {% endblock %}

{% block content %}

{% if articles|length  != 0 %}
<div class="row">
    <div class="text-center" style="margin-top:30px;">
        <h1>Избранное</h1>
    </div>
    <div class="content_center">
        <h6> Фильтры: </h6>
        <div class="form-group col-8">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <select class="form-select" name="category_filter" style="width:40%">
                        <option value="0">Все категории</option>
                        {% for cat in categories %}
                            <option value="{{ forloop.counter }}" {% if selected_category == forloop.counter %} selected {% endif %}> {{ cat.1 }}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-success" value="Выбрать" style="margin: 0 15px">
                    </span>
                </div>
            </form>

        </div>
         <!--  пагинатор -->
        {% if total > 5 %}
            <div class="row">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                      {% if articles.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a></li>
                      {% endif %}
                      {% for p in articles.paginator.page_range %}
                        {% if articles.number == p %}
                            <li class="page-item"><p class="page-link" style="color:black;"> {{ p }}</p></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ p }}"> {{ p }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if articles.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">Next</a></li>
                      {% endif %}
                  </ul>
                </nav>
            </div>
        {% endif %}
    </div>

    {% for article in articles %}
    <div class="single_news">
        <div class="p-4 p-md-5 text-black rounded bg-info">
            <div class="col-md-{% if article.image_set.all %}6{% else %}12 {% endif %} px-0">
                <h1 class="display-4 fst-italic"> {{ article.title }}</h1>
                <p class="lead my-3">{{ article.date }} {{ article.anouncement }}</p>
                <p class="lead my-3">передал: {{ article.author }} </p>
                <p class="lead mb-0"><a href="{% url 'news_detail' article.pk %}" class="text-black fw-bold">Полное
                    сообщение...</a></p>
                <p><small>Просмотры: {{ article.get_views }}</small></p>
                <a class="btn btn-succes" href="{% url 'favorites' article.pk %}"><i class="fa fa-bookmark menu icon">В избранное</i></a>
            </div>
            {% if article.image_set.all %}
                <div class="col-md-6 px-0">
                    <img src="{{ article.image_set.all.0.image.url }}"
                         style="width:100%; height:auto; border-radius:5px;">
                    <br>
                    <br>
                    <img src="{{ article.image_set.all.1.image.url }}"
                         style="width:100%; height:auto; border-radius:5px;">
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="content_center">
    <div class="row">
        <h1> У Вас пока нет сообщений. </h1>
        <a class="ml-2" href="{% url 'new_article' %}"><h1>Хотите cоздать сообщение?</h1></a>
    </div>
</div>

{% endif %}
{% endblock %}