{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %} Удаление {{ article.title }} {{ article.date }}{% endblock %}

{% block content %}
    <div class="row">
            <div class="text-center" style="margin-top:30px;">
                <h1 > Удаление {{ article.title }} {{ article.date }}</h1>
                <form method="POST" class="contact_form">
                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'news' %}"> Отмена </a>
                    <input type="submit" class="btn btn-danger" value="Удалить">
                </form>
            </div>
    </div>
{% endblock %}