{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Контакты {% endblock %}


{% block content %}
<div class="row">
    <div class="text-center" style="margin-top:30px;">
        <h1>Контакты</h1>
    </div>

    <div class="single_news">
        <div class="p-4 p-md-5 text-black rounded bg-info">
            <div class="col-md-6 px-0">
                <table border="3">
                    <tr>
                        <th> телефон</th>
                        <td> +7 (555) 123-45-67</td>
                    </tr>
                    <tr>
                        <th> email</th>
                        <td> email@email.com</td>
                    </tr>
                    <tr>
                        <th> телеграм</th>
                        <td> @telegram</td>
                    </tr>
                    <tr>
                        <th> адрес</th>
                        <td> г. Город, ул. Улица, д. дом</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}