{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >



<aside>
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-black text-decoration-none">
        <img  src="{% static 'main' %}/img/News_icon.png" width="40" height="50">
        <span class="fs-5 d-none d-lg-block responsive-title"> Новости города</span>
    </a>
    <hr>
        <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                  <a href=" / " {% if request.path == '/' %} class="link-active" aria-current="page" {% endif %}>
                        <i class="fa-solid fa-home menu-icon {% if request.path  == '/' %} link-active {% endif %}" ></i>
                        <div class="d-none d-lg-block"> Главная</div>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'news' %}" {% if request.path == 'news/' %} class="link-active" aria-current="page" {% endif %}>
                        <i class="fa-solid fa-tv {% if request.path  == '/' %} link-active {% endif %}"></i>
                        <div class="d-none d-lg-block"> Новости</div>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'about' %}" {% if request.path == 'about/' %} class="link-active" aria-current="page" {% endif %}>
                        <i class="fa-sharp fa-regular fa-comment {% if request.path  == '/' %} link-active {% endif %}"></i>
                        <div class="d-none d-lg-block"> О нас </div>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'contacts' %}" {% if request.path == 'contacts/' %} class="link-active" aria-current="page" {% endif %}>
                        <i class="fa-regular fa-envelope"></i>
                        <div class="d-none d-lg-block"> Контакты </div>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="admin">
                        <i class="fa fa-pen-nib menu-icon"></i>
                        <div class="d-none d-lg-block"> Администратор </div>
                  </a>
              </li>


       </ul>
    </hr>
</aside>





</body>
</html>